extends layout

block body
  h1#page-title #{title}

  div#list
    form(action="/create" method="post" accept-charset="utf-8")
      div.item-new
        input.input(type="text" name="content")

  each feature in features
    div.item
      a.vote-link(href="/upvote/<%= feature._id %>" title="Vote for this feature") #{feature.votes}
      a.update-link(href="/edit/<%= feature._id %>" title="Update this feature") #{feature.content}
      a.vote-btn(href="/upvote/<%= feature._id %>" title="Vote for this feature") Vote
      a.del-btn(href="/destroy/<%= feature._id %>" title="Delete this feature") Delete
